* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.hidden {
    display: none;
}

.clicked {
    transform: scale(0.9);
}

.ingredient-box {
    border: 3px solid black;
    width: 150px;
    height: 150px;
}