@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;
    font-family: "Fredoka", sans-serif;
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #8E0E00, #1F1C18);
    background-attachment: fixed;
}

button {
    background: transparent;
    color: white;
    font-size: 1.3rem;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
}

button:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}

.hidden {
    display: none;
}

.clicked {
    transform: scale(0.9) skew(-1deg);
    opacity: 0.5;
}

.save-recipe-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.save-recipe-btn i {
    font-size: 1rem;
}

/* End of General Styling */

.menu-screen-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
}

.menu-screen-layout h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option button {
    margin: 10px 0;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
}

/* End of Menu Screen */

.my-ingredients-screen,
.my-ingredients-screen-layout {
    width: 100%;
}

.my-ingredients-screen-layout {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
}

.my-ingredients-screen-layout h1 {
    text-align: center;
}

.ingredients-options {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.ingredients-options button {
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px;
}

.my-ingredients-display {
    max-width: 90vw;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 30px;
}

.ingredient-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    transition: 0.2s;
    height: 300px;
}

.ingredient-box img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.ingredient-box:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.ingredient-box h1 {
    font-size: 2rem;
}

.add-remove-ingredients-screen-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;

}

.add-remove-ingredients-screen-layout button {
    margin: 30px 0 20px 0;
    font-size: 2rem;
    font-weight: 700;
    border-width: 4px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.ingredients-container {
    gap: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* End of Ingredients Screen */

.recipes-screen-layout {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recipes-screen-layout h1 {
    font-size: 5rem;
}

.recipes-screen-layout button {
    cursor: pointer;
    margin-top: 30px;
}

.recipes-container {
    width: 90%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.recipe-box {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    box-shadow: 3px 0 5px black;
}

.recipe-box img {
    width: 100%;
    border-radius: 20px;
}

.recipe-box h1 {
    position: absolute;
    bottom: 20px;
    left: 5px;
    font-size: 1.5rem;
    text-wrap: wrap;
    max-width: 80%;
}

.recipe-box p {
    position: absolute;
    bottom: 3px;
    left: 8px;
}

#no-saved-recipes-msg {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

/* End of Recipes Screen */